Repository ZcashFoundation/zebra, pull requests merged in 2022-11, with the labels that each got.

#5515 fix(build): restore Rust stable in builds and beta for CI
  .github/workflows/continous-integration-os.patch.yml
  .github/workflows/continous-integration-os.yml
  .github/workflows/coverage.yml
  README.md
  book/src/user/supported-platforms.md
  docker/Dockerfile
  docker/zcash-params/Dockerfile
Labels: C-bug, A-devops, P-High :fire:, I-build-fail, C-feature, C-trivial

#5504 docs: add user documentation on how to use Zebra with docker
  .github/PULL_REQUEST_TEMPLATE/release-checklist.md
  README.md
  book/src/SUMMARY.md
  book/src/user/docker.md
Labels: A-docs, A-devops, C-enhancement, P-Medium :zap:, I-usability, C-feature, C-trivial

#5512 feat(checkpoints): Update mainnet and testnet checkpoints
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
Labels: P-High :fire:, C-feature, C-trivial

#5513 release(1.0.0-rc.1): bump versions and changelog for release
  CHANGELOG.md
  Cargo.lock
  README.md
  tower-batch/Cargo.toml
  tower-fallback/Cargo.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-network/Cargo.toml
  zebra-network/src/constants.rs
  zebra-node-services/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-script/Cargo.toml
  zebra-state/Cargo.toml
  zebra-test/Cargo.toml
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
Labels: C-enhancement, P-High :fire:, C-trivial

#5395 docs(audit): Add a list of Zebra dependencies for the audit
  book/src/dev/zebra-dependencies-for-audit.md
Labels: A-docs, A-dependencies, P-High :fire:, C-feature

#5528 fix(README): Clarify alternate dependency names
  README.md
Labels: C-bug, A-docs, A-dependencies, P-Medium :zap:, I-usability, C-trivial

#5522 fix(ci): Disable the non_blocking_logger test on macOS
  zebrad/tests/acceptance.rs
Labels: C-bug, A-rust, P-Medium :zap:, I-integration-fail, A-diagnostics

#5529 change(doc): Use HTTP to clone Zebra in Docker documentation
  book/src/user/docker.md
Labels: A-docs, A-devops, P-Medium :zap:, I-usability

#5530 fix(batch): Return an error instead of panicking in the batch verifier on shutdown
  tower-batch/src/service.rs
Labels: C-bug, A-rust, P-Medium :zap:, I-panic

#5519 fix(doc): Use a more reliable release template branch name and docker command
  .github/PULL_REQUEST_TEMPLATE/release-checklist.md
  book/src/dev/audit.md
Labels: C-bug, A-docs, P-Low :snowflake:, C-trivial

#5496 2. change(rpc): Add some transaction fields to the `getblocktemplate` RPC
  zebra-chain/src/amount.rs
  zebra-chain/src/block/commitment.rs
  zebra-chain/src/block/merkle.rs
  zebra-chain/src/transaction/auth_digest.rs
  zebra-chain/src/transaction/serialize.rs
  zebra-chain/src/transaction/unmined.rs
  zebra-node-services/Cargo.toml
  zebra-node-services/src/mempool.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/coinbase.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/default_roots.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/transaction.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_balances@mainnet_1.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_balances@mainnet_2.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_balances@testnet_1.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_balances@testnet_2.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_utxo_data@mainnet_1.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_utxo_data@mainnet_2.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_utxo_data@testnet_1.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/address_utxo_data@testnet_2.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/utxos@mainnet_1.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/utxos@mainnet_2.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/utxos@testnet_1.snap
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshots/utxos@testnet_2.snap
  zebrad/Cargo.toml
  zebrad/src/components/mempool.rs
  zebrad/src/lib.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, A-rpc, C-feature

#5508 3. change(rpc): Add fee and sigops fields to getblocktemplate transactions
  zebra-chain/src/block/merkle.rs
  zebra-chain/src/transaction/unmined.rs
  zebra-consensus/src/block.rs
  zebra-consensus/src/transaction.rs
  zebra-node-services/src/mempool.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/transaction.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebrad/src/components/inbound/tests/fake_peer_set.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/storage.rs
  zebrad/src/components/mempool/storage/tests.rs
  zebrad/src/components/mempool/storage/tests/prop.rs
  zebrad/src/components/mempool/storage/tests/vectors.rs
  zebrad/src/components/mempool/storage/verified_set.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, A-rpc, C-feature

#5549 fix(build): Disable new Rust 1.65 lints and fix some test errors
  .github/workflows/continous-integration-os.patch.yml
  .github/workflows/continous-integration-os.yml
  zebra-test/src/mock_service.rs
  zebrad/src/components/sync.rs
Labels: C-bug, A-rust, A-devops, P-Critical :ambulance:, I-integration-fail, A-rpc, I-build-fail, C-trivial

#5526 change(rpc): add submitblock RPC method
  Cargo.lock
  zebra-consensus/Cargo.toml
  zebra-consensus/src/block.rs
  zebra-consensus/src/lib.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/hex_data.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/submit_block.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/snapshot_rpc_submit_block_invalid@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/snapshot_rpc_submit_block_invalid@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
  zebra-rpc/src/server/tests/vectors.rs
  zebrad/src/commands/start.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/get_block_template_rpcs.rs
  zebrad/tests/common/get_block_template_rpcs/submit_block.rs
  zebrad/tests/common/mod.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, A-rpc, C-feature, C-trivial

#5521 fix(ci): Make "test all" log output shorter
  .github/workflows/continous-integration-docker.yml
  .github/workflows/continous-integration-os.yml
Labels: C-bug, A-devops, P-Medium :zap:, A-diagnostics, C-trivial

#5537 fix(sync): Make the syncer ignore some new block verification errors
  zebra-state/src/service.rs
  zebrad/src/components/sync.rs
Labels: C-bug, A-rust, P-Medium :zap:, I-slow, I-integration-fail, A-state

#5541 cleanup(deps): Remove unused `fpe` dependency and cleanup references
  Cargo.lock
  book/src/dev/zebra-dependencies-for-audit.md
  zebra-chain/Cargo.toml
Labels: A-dependencies, P-Medium :zap:, C-trivial, C-removed

#5540 4. change(rpc): Refactor RPCs using a state tip height function
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
Labels: C-enhancement, C-cleanup, P-Medium :zap:, A-rpc, C-trivial

#5550 fix(ci): Run required jobs on dependent PRs
  .github/workflows/continous-delivery.yml
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  .github/workflows/continous-integration-os.yml
  .github/workflows/lint.patch.yml
  .github/workflows/lint.yml
  .github/workflows/release-binaries.yml
  .github/workflows/zcash-lightwalletd.patch.yml
  .github/workflows/zcash-lightwalletd.yml
  .github/workflows/zcash-params.yml
Labels: C-bug, A-devops, P-Medium :zap:, I-integration-fail, C-trivial

#5562 fix(ci): Add a missing runs-on field to a patch workflow
  .github/workflows/continous-integration-os.patch.yml
Labels: C-bug, A-devops, P-Critical :ambulance:, I-integration-fail, C-feature, C-trivial

#5559 suggestion: Avoid new uses of lazy_static
  Cargo.lock
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/default_roots.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
Labels: A-dependencies, P-Medium :zap:, C-security

#5554 5. change(rpc): Implement coinbase conversion to RPC `TransactionTemplate` type
  Cargo.lock
  zebra-chain/src/value_balance.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/transaction.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
Labels: C-enhancement, P-Medium :zap:, A-rpc, A-script, C-feature

#5560 fix(ci): Stop using multiple jobs for quick Google Cloud tests
  .github/workflows/continous-integration-docker.yml
  .github/workflows/deploy-gcp-tests.yml
Labels: C-bug, A-devops, P-High :fire:, I-integration-fail, C-trivial

#5578 fix(ci): Split out getblocktemplate-rpcs GitHub Actions cache
  .github/workflows/continous-integration-os.yml
Labels: C-bug, A-rust, A-devops, P-Critical :ambulance:, I-build-fail, C-trivial

#5584 fix(doc): Clarify inbound and outbound port requirements
  README.md
Labels: C-bug, A-docs, C-enhancement, P-Medium :zap:, I-usability

#5558 feature(rpc): add fixed values to getblocktemplate response
  zebra-chain/src/block.rs
  zebra-chain/src/block/header.rs
  zebra-chain/src/block/serialize.rs
  zebra-consensus/src/lib.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/default_roots.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
Labels: C-enhancement, P-Medium :zap:, A-rpc

#5581 build(deps): bump sentry and sentry-tracing from 0.27.0 to 0.28.0
  Cargo.lock
  zebrad/Cargo.toml
Labels: A-dependencies, A-rust, P-Medium :zap:, C-trivial

#5561 fix(sync): Pause new downloads when Zebra reaches the lookahead limit
  .github/workflows/continous-integration-docker.yml
  zebra-state/src/lib.rs
  zebrad/src/components/sync.rs
  zebrad/src/components/sync/downloads.rs
  zebrad/src/components/sync/tests/vectors.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/configs/getblocktemplate-v1.0.0-rc.1.toml
  zebrad/tests/common/configs/getblocktemplate-v1.0.0-rc.2.toml
  zebrad/tests/common/configs/v1.0.0-rc.2.toml
  zebrad/tests/common/sync.rs
Labels: C-bug, A-rust, P-High :fire:, I-slow, I-integration-fail, C-trivial

#5589 fix(tests): add submitblock test to CI, and avoid copying the cached state directory in other tests
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  docker/entrypoint.sh
  zebrad/tests/acceptance.rs
  zebrad/tests/common/cached_state.rs
  zebrad/tests/common/config.rs
  zebrad/tests/common/get_block_template_rpcs.rs
  zebrad/tests/common/get_block_template_rpcs/submit_block.rs
  zebrad/tests/common/launch.rs
  zebrad/tests/common/lightwalletd.rs
  zebrad/tests/common/lightwalletd/send_transaction_test.rs
  zebrad/tests/common/lightwalletd/sync.rs
  zebrad/tests/common/lightwalletd/wallet_grpc_test.rs
  zebrad/tests/common/mod.rs
  zebrad/tests/common/sync.rs
  zebrad/tests/common/test_type.rs
Labels: C-bug, C-enhancement, P-Medium :zap:, I-slow, C-testing, A-rpc, C-feature, C-trivial

#5606 fix(gcloud): setup the GCP CLI after authenticating
  .github/workflows/continous-delivery.yml
  .github/workflows/continous-integration-docker.yml
  .github/workflows/delete-gcp-resources.yml
  .github/workflows/deploy-gcp-tests.yml
  .github/workflows/zcash-lightwalletd.yml
  .github/workflows/zcashd-manual-deploy.yml
Labels: C-bug, A-infrastructure, A-devops, P-Critical :ambulance:, I-integration-fail, C-trivial

#5591 fix(rpc): Shut down the RPC server properly when Zebra shuts down
  CHANGELOG.md
  zebra-rpc/src/methods.rs
  zebra-rpc/src/queue.rs
  zebra-rpc/src/queue/tests/prop.rs
  zebra-rpc/src/server.rs
  zebra-rpc/src/server/tests/vectors.rs
  zebrad/src/commands/start.rs
Labels: C-bug, P-High :fire:, C-security, I-crash, A-rpc, I-unsound, C-trivial

#5607 change(tests): use OS-assigned unallocated ports for getting random known ports
  zebra-test/src/net.rs
Labels: A-rust, C-enhancement, P-Optional :sparkles:, C-testing, C-trivial

#5620 fix(consensus): Check network and P2SH addresses for mining config and funding streams
  zebra-chain/src/transparent/address.rs
  zebra-consensus/src/block/subsidy/funding_streams.rs
  zebra-consensus/src/block/subsidy/funding_streams/tests.rs
  zebra-rpc/src/server.rs
Labels: C-bug, A-docs, A-consensus, P-Medium :zap:, I-consensus, A-rpc, I-lose-funds, C-feature

#5616 change(consensus) verify that mempool transaction UTXOs are in the best chain
  zebra-chain/src/transaction/arbitrary.rs
  zebra-consensus/src/error.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/read.rs
  zebra-state/src/service/read/block.rs
Labels: C-bug, A-consensus, A-rust, C-enhancement, P-Medium :zap:, A-state

#5602 feat(ssh): enable OS Login for GCP test instances
  .github/workflows/deploy-gcp-tests.yml
Labels: C-bug, A-infrastructure, A-devops, C-enhancement, P-High :fire:, I-integration-fail, C-feature, C-trivial

#5619 change(tests): adds RPC request client for condensing shared code
  zebrad/tests/acceptance.rs
  zebrad/tests/common/cached_state.rs
  zebrad/tests/common/get_block_template_rpcs/submit_block.rs
  zebrad/tests/common/lightwalletd/sync.rs
  zebrad/tests/common/mod.rs
  zebrad/tests/common/rpc_client.rs
Labels: A-rust, C-enhancement, P-Optional :sparkles:, C-testing, C-feature, C-trivial

#5617 ci: use Container-Optimized OS public image on the VM
  .github/workflows/continous-delivery.yml
  .github/workflows/deploy-gcp-tests.yml
  .github/workflows/zcashd-manual-deploy.yml
Labels: C-bug, A-infrastructure, A-devops, P-Critical :ambulance:, I-integration-fail, C-trivial

#5623 change(rpc): return an error from getblocktemplate method if Zebra is not synced to network tip
  zebra-chain/src/chain_tip.rs
  zebra-chain/src/chain_tip/mock.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, A-rpc, C-feature, C-trivial

#5654 build(deps): bump sentry and sentry-tracing from 0.28.0 to 0.29.0
  Cargo.lock
  zebrad/Cargo.toml
Labels: A-dependencies, A-rust, P-Low :snowflake:, C-trivial

#5653 change(tests): add acceptance test for getblocktemplate method in CI
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  docker/entrypoint.sh
  zebrad/tests/acceptance.rs
  zebrad/tests/common/get_block_template_rpcs.rs
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
  zebrad/tests/common/get_block_template_rpcs/submit_block.rs
  zebrad/tests/common/test_type.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, C-testing, A-rpc, C-feature, C-trivial

#5634 fix(zebrad) print usage info for --help flag
  README.md
  zebrad/src/application.rs
  zebrad/src/application/entry_point.rs
  zebrad/src/commands.rs
Labels: C-bug, A-rust, P-Medium :zap:, I-usability

#5631 build(deps): bump zcash_proofs from 0.8.0 to 0.9.0 and zcash_primitives from 0.8.1 to 0.9.0
  Cargo.lock
  deny.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
Labels: A-dependencies, A-rust, P-Low :snowflake:, C-trivial

#5672 Revert "change(tests): add acceptance test for getblocktemplate method in CI"
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  docker/entrypoint.sh
  zebrad/tests/acceptance.rs
  zebrad/tests/common/get_block_template_rpcs.rs
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
  zebrad/tests/common/get_block_template_rpcs/submit_block.rs
  zebrad/tests/common/test_type.rs
Labels: C-bug, A-rust, C-enhancement, P-Critical :ambulance:, I-integration-fail, A-rpc, C-feature, C-trivial

#5671 fix(ssh): add a fixed SSH key to use with `gcloud`
  .github/workflows/continous-integration-docker.yml
  .github/workflows/deploy-gcp-tests.yml
Labels: C-bug, A-infrastructure, A-devops, P-Critical :ambulance:, I-integration-fail, C-feature, C-trivial

#5697 fix(cd): allow deploying instance templates without disk errors
  .github/workflows/continous-delivery.yml
Labels: C-bug, A-infrastructure, A-devops, P-Critical :ambulance:, I-integration-fail, C-trivial

#5683 change(ci): Fail CI if there are doc warnings
  .cargo/config.toml
  .github/workflows/lint.yml
Labels: A-docs, A-devops, C-enhancement, P-Low :snowflake:, C-trivial

#5696 ci: filter READY images before using them on test machines
  .github/workflows/continous-integration-docker.yml
  .github/workflows/deploy-gcp-tests.yml
Labels: C-bug, A-infrastructure, A-devops, P-Medium :zap:, I-integration-fail, C-trivial

#5698 fix(doc): Explain that Zebra needs extra software to generate blocks or transactions
  README.md
Labels: C-bug, A-docs, P-Low :snowflake:

#5705 fix(ci): run integration tests on `main` if configuration files are changed
  .github/workflows/continous-integration-docker.yml
Labels: A-devops, C-enhancement, P-Low :snowflake:

#5708 fix(ci): Allow full sync tests to take 42 hours
  zebrad/tests/common/sync.rs
Labels: C-bug, A-rust, P-Critical :ambulance:, I-slow, I-integration-fail, C-trivial

#5703 change(mempool): Evict transactions from the mempool using the ZIP-317 conventional fee
  CHANGELOG.md
  zebra-chain/src/serialization/tests/prop.rs
  zebra-chain/src/serialization/zcash_serialize.rs
  zebra-chain/src/transaction/unmined.rs
  zebra-chain/src/transaction/unmined/zip317.rs
  zebra-rpc/src/methods/tests/vectors.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, C-security, I-remote-node-overload

#5693 feat(gcp): add label to instances for cost and logs grouping
  .github/workflows/continous-delivery.yml
  .github/workflows/deploy-gcp-tests.yml
  .github/workflows/zcashd-manual-deploy.yml
Labels: A-infrastructure, P-Low :snowflake:, I-usability, C-feature, C-trivial

#5717 Suggestion: use closures for finding duplicate nullifiers with/without non-finalized state
  zebra-state/src/service/check/nullifier.rs
Labels: A-consensus, A-rust, A-state

#5710 fix(ci): Fix network parameter in continous-delivery.yml, and add network labels to GCP jobs
  .github/workflows/continous-delivery.yml
  .github/workflows/deploy-gcp-tests.yml
  .github/workflows/zcashd-manual-deploy.yml
Labels: C-bug, A-devops, C-enhancement, P-Medium :zap:, A-diagnostics, C-feature, C-trivial

#5727 change(docs): Fix typos in Zebra book treestate RFC draft
  book/src/dev/rfcs/drafts/0005-treestate.md
  zebrad/tests/common/lightwalletd/wallet_grpc_test.rs
Labels: C-bug, A-docs, A-rust

#5728 change(docs): Fix typos in Zebra book treestate RFC draft
  book/src/dev/rfcs/drafts/0005-treestate.md
  zebrad/tests/common/lightwalletd/wallet_grpc_test.rs
Labels: C-bug, A-docs, C-enhancement, C-trivial

#5659 feat(rpc): populate some getblocktemplate RPC block header fields using the state best chain tip
  zebra-chain/src/work/difficulty.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/lib.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/check.rs
  zebra-state/src/service/check/difficulty.rs
  zebra-state/src/service/read.rs
  zebra-state/src/service/read/difficulty.rs
Labels: A-rust, P-Medium :zap:, A-rpc, A-state, C-feature

#5733 change(log): Log loaded config path when Zebra starts up
  zebrad/src/application.rs
  zebrad/src/commands/start.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, I-usability, A-diagnostics, C-testing, C-trivial

#5716 change(mempool): Contextually validates mempool transactions in best chain
  zebra-chain/src/block/commitment.rs
  zebra-consensus/src/error.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-state/src/error.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/check/anchors.rs
  zebra-state/src/service/check/nullifier.rs
  zebra-state/src/service/check/tests/anchors.rs
  zebra-state/src/service/check/tests/nullifier.rs
  zebra-state/src/service/non_finalized_state.rs
  zebra-state/src/service/non_finalized_state/chain.rs
  zebrad/src/components/inbound/tests/fake_peer_set.rs
  zebrad/src/components/mempool/downloads.rs
Labels: C-bug, A-consensus, A-rust, C-enhancement, P-Medium :zap:, A-state

#5738 fix(rust): Make Zebra build with the latest nightly Rust
  zebra-chain/src/block.rs
  zebra-network/src/isolated/tests/vectors.rs
  zebra-network/src/peer/client/tests.rs
  zebra-network/src/peer_set/set/tests/prop.rs
  zebra-state/src/service/finalized_state/zebra_db/metrics.rs
Labels: C-bug, A-rust, P-Medium :zap:, I-build-fail, C-trivial
