Repository ZcashFoundation/zebra, pull requests merged in 2022-07, with the labels that each got.

#4739 fix(clippy): resolve or disable new nightly clippy lints
  Cargo.lock
  tower-fallback/src/future.rs
  zebra-chain/src/amount/tests/vectors.rs
  zebra-chain/src/block.rs
  zebra-chain/src/block/hash.rs
  zebra-chain/src/parameters/network.rs
  zebra-chain/src/primitives/zcash_primitives.rs
  zebra-chain/src/sprout/joinsplit.rs
  zebra-chain/src/transaction/arbitrary.rs
  zebra-chain/src/transaction/tests/vectors.rs
  zebra-chain/src/transaction/unmined.rs
  zebra-consensus/src/primitives/groth16.rs
Labels: A-rust, C-cleanup, P-Low :snowflake:, A-diagnostics

#4752 fix(verify): Only verify halo2 proofs once per transaction
  zebra-consensus/src/transaction.rs
Labels: C-bug, P-Critical :ambulance:, C-security, I-heavy, I-slow, I-integration-fail, A-cryptography

#4758 fix(sync): Set the full verify concurrency limit to 5 blocks
  zebrad/src/config.rs
Labels: C-bug, P-Critical :ambulance:, I-hang, I-slow, I-integration-fail

#4730 fix(ci): Split out Canopy logs into a separate job
  .github/workflows/deploy-gcp-tests.yml
Labels: C-bug, A-devops, P-Critical :ambulance:, I-slow, I-integration-fail

#4763 fix(ci): Workaround lightwalletd hangs by waiting until we're near the tip
  zebrad/tests/acceptance.rs
Labels: C-bug, A-rust, P-Critical :ambulance:, I-integration-fail, C-testing, lightwalletd

#4770 fix(panic): Stop panicking when the connection error slot is not set
  zebra-network/src/peer/client.rs
Labels: C-bug, P-Critical :ambulance:, C-security, I-panic, A-network

#4777 chore(sync): Update Zebra mainnet and testnet checkpoints - 13 July 2022
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
Labels: A-consensus, C-enhancement, P-Critical :ambulance:, I-slow

#4757 change(state): Wrap commitment trees into `Arc`
  zebra-state/src/service/check/anchors.rs
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshot.rs
  zebra-state/src/service/finalized_state/zebra_db/shielded.rs
  zebra-state/src/service/non_finalized_state.rs
  zebra-state/src/service/non_finalized_state/chain.rs
  zebra-state/src/service/read.rs
Labels: C-enhancement, P-High :fire:, I-heavy, I-slow, A-state

#4750 fix(batch): Improve batch verifier async, correctness, and performance
  Cargo.lock
  tower-batch/Cargo.toml
  tower-batch/src/lib.rs
  tower-batch/src/message.rs
  tower-batch/src/semaphore.rs
  tower-batch/src/service.rs
  tower-batch/src/worker.rs
  tower-batch/tests/ed25519.rs
  tower-batch/tests/worker.rs
  zebra-consensus/Cargo.toml
  zebra-consensus/src/lib.rs
  zebra-consensus/src/primitives.rs
  zebra-consensus/src/primitives/ed25519.rs
  zebra-consensus/src/primitives/ed25519/tests.rs
  zebra-consensus/src/primitives/groth16.rs
  zebra-consensus/src/primitives/groth16/tests.rs
  zebra-consensus/src/primitives/halo2.rs
  zebra-consensus/src/primitives/halo2/tests.rs
  zebra-consensus/src/primitives/redjubjub.rs
  zebra-consensus/src/primitives/redjubjub/tests.rs
  zebra-consensus/src/primitives/redpallas.rs
  zebra-consensus/src/primitives/redpallas/tests.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-consensus/src/transaction/tests/prop.rs
  zebra-test/src/lib.rs
Labels: C-bug, P-High :fire:, I-hang, I-integration-fail, A-cryptography

#4776 feat(verify): Concurrently verify proof and signature batches
  .github/workflows/continous-integration-docker.patch-always.yml
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  Cargo.lock
  tower-batch/Cargo.toml
  tower-batch/src/layer.rs
  tower-batch/src/service.rs
  tower-batch/src/worker.rs
  tower-batch/tests/ed25519.rs
  tower-batch/tests/worker.rs
  zebra-consensus/Cargo.toml
  zebra-consensus/src/primitives/ed25519.rs
  zebra-consensus/src/primitives/ed25519/tests.rs
  zebra-consensus/src/primitives/groth16.rs
  zebra-consensus/src/primitives/groth16/tests.rs
  zebra-consensus/src/primitives/halo2.rs
  zebra-consensus/src/primitives/halo2/tests.rs
  zebra-consensus/src/primitives/redjubjub.rs
  zebra-consensus/src/primitives/redjubjub/tests.rs
  zebra-consensus/src/primitives/redpallas.rs
  zebra-consensus/src/primitives/redpallas/tests.rs
  zebrad/Cargo.toml
  zebrad/src/application.rs
  zebrad/src/components/tokio.rs
  zebrad/src/config.rs
Labels: C-enhancement, P-High :fire:, I-slow, A-cryptography

#4782 fix(panic): remove panic in `close_and_flush_next` fn
  zebra-network/src/peer/client.rs
Labels: C-bug, P-High :fire:, C-security, I-panic, A-network

#4800 docs(release): Add checkpoint update to the PR release draft template
  .github/PULL_REQUEST_TEMPLATE/release-checklist.md
Labels: A-docs, P-High :fire:, I-slow, I-integration-fail

#4801 try to do deserialization of transaction in a rayon thread
  Cargo.lock
  zebra-network/Cargo.toml
  zebra-network/src/protocol/external/codec.rs
  zebrad/src/components/inbound/tests/real_peer_set.rs
Labels: C-bug, P-High :fire:, I-slow, I-integration-fail, A-network, A-cryptography

#4792 1. fix(state): when sending `headers` to peers, only deserialize the header data from disk
  zebra-chain/src/block.rs
  zebra-chain/src/block/arbitrary.rs
  zebra-chain/src/block/hash.rs
  zebra-chain/src/block/header.rs
  zebra-chain/src/block/serialize.rs
  zebra-chain/src/block/tests/generate.rs
  zebra-chain/src/block/tests/preallocate.rs
  zebra-chain/src/work/tests/prop.rs
  zebra-consensus/src/block/tests.rs
  zebra-consensus/src/chain/tests.rs
  zebra-consensus/src/checkpoint/tests.rs
  zebra-state/src/service.rs
  zebra-state/src/service/chain_tip/tests/prop.rs
  zebra-state/src/service/finalized_state/zebra_db/block.rs
  zebra-state/src/service/non_finalized_state/tests/prop.rs
  zebra-state/src/service/read.rs
  zebra-state/src/service/tests.rs
  zebra-state/src/tests.rs
Labels: C-bug, P-High :fire:, I-slow, I-integration-fail, A-network, A-state

#4799 perf(commitments): generate sapling point outside the method
  zebra-chain/src/orchard/commitment.rs
  zebra-chain/src/sapling/commitment.rs
Labels: C-bug, P-High :fire:, I-slow, I-integration-fail, A-cryptography

#4795 add(log): Log the amount of time it takes to rebuild note commitment trees after a chain fork
  Cargo.lock
  zebra-chain/Cargo.toml
  zebra-chain/src/fmt.rs
  zebra-chain/src/fmt/time.rs
  zebra-state/src/service/non_finalized_state/chain.rs
  zebrad/src/components/sync/progress.rs
  zebrad/src/components/tracing.rs
  zebrad/src/components/tracing/fmt.rs
Labels: P-High :fire:, I-slow, A-diagnostics, A-state

#4802 1. fix(perf): Run CPU-intensive state updates in parallel rayon threads
  Cargo.lock
  tower-batch/src/worker.rs
  zebra-chain/Cargo.toml
  zebra-chain/src/block/arbitrary.rs
  zebra-chain/src/lib.rs
  zebra-chain/src/orchard/tree.rs
  zebra-chain/src/parallel.rs
  zebra-chain/src/parallel/tree.rs
  zebra-chain/src/sapling/tree.rs
  zebra-chain/src/sprout.rs
  zebra-chain/src/sprout/tree.rs
  zebra-state/Cargo.toml
  zebra-state/src/error.rs
  zebra-state/src/service/arbitrary.rs
  zebra-state/src/service/check.rs
  zebra-state/src/service/check/anchors.rs
  zebra-state/src/service/finalized_state.rs
  zebra-state/src/service/finalized_state/zebra_db/block.rs
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshot.rs
  zebra-state/src/service/finalized_state/zebra_db/chain.rs
  zebra-state/src/service/finalized_state/zebra_db/shielded.rs
  zebra-state/src/service/non_finalized_state.rs
  zebra-state/src/service/non_finalized_state/chain.rs
  zebra-state/src/service/non_finalized_state/tests/prop.rs
  zebra-state/src/service/read.rs
Labels: C-bug, P-High :fire:, I-slow, I-integration-fail, A-state, A-cryptography

#4773 docs(release): add support Tiers and supported platforms per Tier
  book/src/user/requirements.md
  book/src/user/supported-platforms.md
  book/src/user/target-tier-policies.md
Labels: A-docs, C-design, C-enhancement, P-Medium :zap:, I-usability

#4756 return errors from `send_periodic_heartbeats_with_shutdown_handle`
  zebra-network/src/peer/client.rs
  zebra-network/src/peer/client/tests.rs
  zebra-network/src/peer/client/tests/vectors.rs
  zebra-network/src/peer/error.rs
  zebra-network/src/peer/handshake.rs
Labels: C-bug, P-Medium :zap:, I-panic, A-network, A-diagnostics

#4741 build(deps): bump `sentry` & `sentry-tracing` from 0.26.0 to 0.27.0
  Cargo.lock
  zebrad/Cargo.toml
Labels: A-dependencies, A-rust, P-Low :snowflake:

#4760 cleanup(difficulty): Remove redundant testnet minimum difficulty implementation
  zebra-consensus/src/lib.rs
  zebra-consensus/src/parameters.rs
  zebra-consensus/src/parameters/minimum_difficulty.rs
  zebra-consensus/src/parameters/subsidy.rs
  zebra-consensus/src/parameters/tests.rs
Labels: A-consensus, NU-1 Sapling, C-cleanup, NU-5, P-Low :snowflake:, I-bad-code

#4811 fix(build): Remove duplicate `rayon` dependency from zebra-chain
  zebra-chain/Cargo.toml
Labels: C-bug, A-dependencies, A-rust, P-Critical :ambulance:, I-integration-fail, I-build

#4813 1. add(ci): Add a Zebra cached state update test, fix lightwalletd tests
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  docker/entrypoint.sh
  zebra-network/src/peer/handshake.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/launch.rs
  zebrad/tests/common/lightwalletd.rs
Labels: A-rust, A-devops, P-High :fire:, I-integration-fail, C-testing, A-rpc, lightwalletd

#4825 1. fix(state): Stop reading redundant blocks for every FindHashes and FindHeaders request
  zebra-state/src/service.rs
Labels: C-bug, P-High :fire:, C-security, I-slow, I-integration-fail, I-remote-node-overload, A-state

#4826 2. fix(state): Make FindHeaders and FindHashes run concurrently with state updates
  zebra-state/src/service.rs
  zebra-state/src/service/finalized_state/zebra_db/block.rs
  zebra-state/src/service/non_finalized_state/chain.rs
  zebra-state/src/service/read.rs
Labels: C-bug, P-High :fire:, I-slow, I-integration-fail, A-state

#4830 fix(test): allow the mempool_transaction_expiration test to get network requeststs in any order
  zebrad/src/components/inbound/tests/fake_peer_set.rs
Labels: C-bug, P-High :fire:, I-integration-fail, A-network, C-testing

#4833 chore(consensus): update mainnet and testnet checkpoints on 27 July 2022
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
Labels: A-consensus, C-enhancement, P-High :fire:, I-slow

#4828 fix(ci): fix hangs in lightwalletd tests by checking concurrent process output in different threads
  .github/workflows/deploy-gcp-tests.yml
  zebra-chain/src/diagnostic.rs
  zebra-test/src/command.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/launch.rs
  zebrad/tests/common/lightwalletd.rs
  zebrad/tests/common/lightwalletd/send_transaction_test.rs
  zebrad/tests/common/lightwalletd/wallet_grpc.rs
  zebrad/tests/common/lightwalletd/wallet_grpc_test.rs
Labels: C-bug, A-devops, P-High :fire:, I-integration-fail, C-testing, A-rpc, lightwalletd

#4838 fix(ci): split canopy sync into a separate GitHub actions job
  .github/workflows/deploy-gcp-tests.yml
Labels: C-bug, A-devops, P-High :fire:, I-slow, I-integration-fail, A-diagnostics

#4840 fix(ci): split NU5 sync into two GitHub actions jobs
  .github/workflows/deploy-gcp-tests.yml
  zebrad/tests/acceptance.rs
  zebrad/tests/common/lightwalletd/wallet_grpc.rs
  zebrad/tests/common/sync.rs
Labels: C-bug, A-rust, A-devops, P-High :fire:, I-slow, I-integration-fail, lightwalletd

#4765 Release Zebra to 1.0.0-beta.13
  CHANGELOG.md
  Cargo.lock
  README.md
  book/src/user/install.md
  tower-batch/Cargo.toml
  tower-fallback/Cargo.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-network/Cargo.toml
  zebra-network/src/constants.rs
  zebra-node-services/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-script/Cargo.toml
  zebra-state/Cargo.toml
  zebra-test/Cargo.toml
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
Labels: A-docs, A-dependencies, P-High :fire:, I-slow

#4772 fix(net): Fix handshake timing and error handling
  zebra-network/src/peer/handshake.rs
  zebra-network/src/peer_set/initialize.rs
Labels: C-bug, P-Medium :zap:, C-security, I-hang, I-slow, A-network
