Repository ZcashFoundation/zebra, pull requests merged in 2022-12, with the labels that each got.

#5753 fix(ci): Replace a spurious test failure with an info log
  zebrad/src/components/inbound/tests/fake_peer_set.rs
Labels: C-bug, A-rust, P-Critical :ambulance:, I-integration-fail, C-testing, C-trivial

#5754 change(consensus): Update mainnet and testnet checkpoints on 2022-12-01
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
Labels: A-consensus, C-enhancement, P-Critical :ambulance:, I-slow, C-trivial

#5758 fix(ci): update fake_peer_set test to avoid spurious failures
  zebrad/src/components/inbound/tests/fake_peer_set.rs
Labels: C-bug, P-Critical :ambulance:, I-integration-fail, C-testing

#5742 change(state): Check block and transaction Sprout anchors in parallel
  zebra-state/src/service/check/anchors.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, C-security, I-heavy, A-state

#5761 change(ci): add acceptance test for getblocktemplate RPC in CI, and fix RPC bugs
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  docker/entrypoint.sh
  zebra-chain/src/amount.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/transaction.rs
  zebra-state/src/service/read/difficulty.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/get_block_template_rpcs.rs
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
  zebrad/tests/common/get_block_template_rpcs/submit_block.rs
  zebrad/tests/common/test_type.rs
Labels: C-bug, A-devops, C-enhancement, P-High :fire:, I-integration-fail, C-testing, A-rpc, C-feature, C-trivial

#5724 change(rpc): Select getblocktemplate RPC transactions according to ZIP-317
  Cargo.lock
  zebra-chain/src/transaction/unmined.rs
  zebra-chain/src/transaction/unmined/zip317.rs
  zebra-consensus/src/transaction.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/zip317.rs
  zebrad/src/components/mempool/storage/verified_set.rs
Labels: A-dependencies, C-enhancement, P-Medium :zap:, C-security, I-remote-node-overload, A-rpc

#5747 fix(rpc): Mine standard and minimum difficulty blocks on testnet
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/response.rs
  zebra-state/src/service/check.rs
  zebra-state/src/service/check/difficulty.rs
  zebra-state/src/service/read/difficulty.rs
Labels: C-bug, P-Medium :zap:, A-rpc, A-state

#5773 fix(docs): Document max time field correctly
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
Labels: C-bug, A-docs, C-cleanup, P-Low :snowflake:, A-rpc

#5769 change(rpc): Return an error from getblocktemplate RPC if Zebra is still syncing lots of blocks
  zebra-chain/src/chain_sync_status.rs
  zebra-chain/src/lib.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
  zebra-rpc/src/server/tests/vectors.rs
  zebrad/src/commands/start.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/crawler/tests/prop.rs
  zebrad/src/components/sync/progress.rs
  zebrad/src/components/sync/status.rs
  zebrad/src/components/sync/status/tests.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, A-network, A-rpc

#5779 ci(docs): update our Docker Hub documentation with our README
  .github/workflows/dockerhub-description.yml
Labels: A-docs, A-devops, C-enhancement, P-Low :snowflake:, C-trivial

#5786 change(release): Exclude zebra-dependencies-for-audit.md from release version updates
  .github/PULL_REQUEST_TEMPLATE/release-checklist.md
Labels: A-docs, A-devops, C-enhancement, P-Low :snowflake:, C-trivial

#5781 fix(ci): Increase full sync jobs and timeout
  .github/workflows/deploy-gcp-tests.yml
  zebrad/tests/common/sync.rs
Labels: C-bug, A-devops, P-Critical :ambulance:, I-integration-fail, C-testing, C-trivial

#5806 fix(ci): Fix cargo deny syntax
  .github/workflows/continous-integration-os.yml
Labels: C-bug, A-dependencies, A-devops, P-Low :snowflake:, P-Critical :ambulance:, C-trivial

#5772 change(rpc): Adds ignored jsonrequestobject argument to the getblocktemplate RPC
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template_opts.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/hex_data.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/submit_block.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, P-Critical :ambulance:, A-rpc, C-feature

#5751 change(rpc): Populate `blockcommitmenthash` and `defaultroot` fields in the getblocktemplate RPC
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@testnet_10.snap
  zebra-rpc/src/methods/tests/utils.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/read.rs
  zebra-state/src/service/read/address.rs
  zebra-state/src/service/read/address/balance.rs
  zebra-state/src/service/read/address/tx_id.rs
  zebra-state/src/service/read/address/utxo.rs
  zebra-state/src/service/read/difficulty.rs
  zebra-state/src/service/read/tree.rs
Labels: A-consensus, C-enhancement, P-Medium :zap:, P-Critical :ambulance:, A-rpc, A-state, A-concurrency

#5783 fix(clippy): Put Rust format variables inline
  tower-batch/tests/worker.rs
  zebra-chain/src/block/tests/generate.rs
  zebra-chain/src/block/tests/vectors.rs
  zebra-chain/src/transaction/arbitrary.rs
  zebra-chain/src/transparent/tests/vectors.rs
  zebra-chain/src/work/difficulty.rs
  zebra-consensus/src/block.rs
  zebra-consensus/src/checkpoint/tests.rs
  zebra-consensus/src/error.rs
  zebra-network/src/config.rs
  zebra-network/src/peer/client.rs
  zebra-network/src/peer/connection/tests/vectors.rs
  zebra-network/src/peer_set/candidate_set/tests/prop.rs
  zebra-network/src/peer_set/initialize/tests/vectors.rs
  zebra-network/src/peer_set/inventory_registry.rs
  zebra-network/src/peer_set/set.rs
  zebra-network/src/protocol/external/tests/vectors.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/service/finalized_state.rs
  zebra-state/src/service/finalized_state/disk_db.rs
  zebra-state/src/service/finalized_state/disk_format.rs
  zebra-state/src/service/finalized_state/zebra_db/block/tests/snapshot.rs
  zebra-state/src/service/non_finalized_state/tests/vectors.rs
  zebra-test/src/command.rs
  zebra-test/tests/command.rs
  zebrad/build.rs
  zebrad/src/application.rs
  zebrad/src/commands/copy_state.rs
  zebrad/src/components/inbound/tests/fake_peer_set.rs
  zebrad/src/components/inbound/tests/real_peer_set.rs
  zebrad/src/components/mempool/storage/eviction_list.rs
  zebrad/src/components/metrics.rs
  zebrad/src/components/sync/tests/vectors.rs
  zebrad/src/components/tracing/endpoint.rs
  zebrad/tests/acceptance.rs
Labels: A-rust, C-cleanup, P-Low :snowflake:, P-Critical :ambulance:, C-trivial

#5777 fix(test): Move test-only code to test-only modules
  zebra-chain/src/chain_sync_status.rs
  zebra-chain/src/chain_sync_status/mock.rs
  zebra-chain/src/chain_tip.rs
  zebrad/src/components/sync/status.rs
  zebrad/src/components/sync/status/mock.rs
  zebrad/src/components/sync/status/tests.rs
Labels: C-bug, C-cleanup, P-Low :snowflake:, P-Critical :ambulance:, C-testing, A-rpc, C-trivial

#5810 docs(release): update GitHub release promoting language
  .github/PULL_REQUEST_TEMPLATE/release-checklist.md
Labels: A-docs, C-enhancement, C-cleanup, P-Low :snowflake:

#5776 change(rpc): Update ZIP-317 transaction selection algorithm
  zebra-chain/src/transaction/builder.rs
  zebra-chain/src/transaction/lock_time.rs
  zebra-chain/src/transaction/unmined.rs
  zebra-chain/src/transaction/unmined/zip317.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/zip317.rs
Labels: C-enhancement, P-Medium :zap:, C-security, I-remote-node-overload, A-rpc, C-trivial

#5759 fix(lint): Box large error types to resolve the clippy large result err variant lint
  zebra-chain/src/transaction.rs
  zebra-consensus/src/block.rs
  zebra-consensus/src/chain.rs
  zebra-consensus/src/checkpoint.rs
  zebra-consensus/src/error.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/sync.rs
Labels: A-rust, C-cleanup, P-Low :snowflake:, A-diagnostics, C-trivial

#5814 fix(ci): Run basic and ignored unit tests at the same time, speeding up CI by half an hour
  .github/workflows/continous-integration-docker.yml
Labels: C-bug, A-devops, P-High :fire:, I-slow, C-trivial

#5808 change(rpc): Adds `getmininginfo`, `getnetworksolps` and `getnetworkhashps` methods
  zebra-chain/src/work/difficulty.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_mining_info.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_mining_info@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_mining_info@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_network_sol_ps@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_network_sol_ps@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/read/difficulty.rs
Labels: A-rust, C-enhancement, P-Medium :zap:, A-rpc, A-state, C-feature

#5825 fix(test): Reduce verbose test logs
  zebra-chain/src/block/tests/prop.rs
  zebra-chain/src/work/tests/prop.rs
  zebra-consensus/src/checkpoint/tests.rs
  zebra-network/src/config.rs
  zebra-network/src/peer_set/initialize/tests/vectors.rs
  zebra-rpc/src/server.rs
  zebra-state/src/service.rs
  zebra-state/src/service/arbitrary.rs
  zebra-state/src/service/finalized_state/disk_db.rs
  zebra-test/src/lib.rs
  zebrad/src/components/mempool/crawler.rs
  zebrad/src/components/mempool/tests/prop.rs
Labels: C-bug, P-Low :snowflake:, A-diagnostics, C-testing, C-trivial

#5796 change(rpc): Provide and parse a long poll ID, but don't use it yet
  zebra-rpc/src/config.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template_opts.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/long_poll.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/configs/getblocktemplate-v1.0.0-rc.3.toml
Labels: C-enhancement, P-Medium :zap:, A-rpc, A-concurrency

#5829 change(rpc): return u64 from `get_network_sol_ps` and remove `arbitrary_precision` feature from serde
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_mining_info.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
Labels: A-dependencies, A-rust, C-cleanup, P-Low :snowflake:, A-rpc, C-trivial

#5798 build(deps): bump inferno from 0.11.12 to 0.11.13, and allow a duplicate dependency
  Cargo.lock
  deny.toml
  zebrad/Cargo.toml
Labels: A-dependencies, P-Low :snowflake:, C-trivial

#5827 change(rpc): support transparent p2pkh miner addresses
  zebra-chain/src/transparent.rs
  zebra-chain/src/transparent/address.rs
  zebra-chain/src/transparent/opcodes.rs
  zebra-consensus/src/block/subsidy/funding_streams.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/config.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
Labels: A-consensus, C-enhancement, P-Medium :zap:, A-rpc

#5822 fix(dev): Make zcash-rpc-diff always check Zebra then zcashd
  zebra-utils/zcash-rpc-diff
Labels: C-bug, P-Low :snowflake:, C-testing, A-rpc, C-trivial

#5842 fix(test): Fix a test child process panic bug
  zebra-test/src/command.rs
Labels: C-bug, A-rust, P-Low :snowflake:, I-integration-fail, C-testing, C-trivial

#5841 change(mempool): Re-verify mempool transactions after a chain fork, rather than re-downloading them all
  README.md
  zebra-chain/src/transaction.rs
  zebra-chain/src/transaction/unmined.rs
  zebra-state/src/service/chain_tip.rs
  zebra-test/src/mock_service.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/downloads.rs
  zebrad/src/components/mempool/tests/prop.rs
  zebrad/src/components/mempool/tests/vector.rs
Labels: A-consensus, C-enhancement, P-Medium :zap:, I-slow, I-remote-node-overload, A-rpc, A-concurrency

#5840 fix(rpc): Wait for 3 minutes to check Zebra is synced to the tip, rather than 2
  zebra-test/src/mock_service.rs
  zebrad/src/components/sync/recent_sync_lengths.rs
Labels: C-bug, P-Medium :zap:, I-usability, A-rpc

#5839 fix(nightly): Remove redundant `track_caller` which now causes errors on nightly
  zebra-test/src/mock_service.rs
  zebra-test/src/transcript.rs
Labels: A-rust, C-cleanup, P-Low :snowflake:, C-trivial

#5787 fix(consensus): Refactor block subsidy to handle Height::MAX without panicking
  zebra-consensus/src/block/check.rs
  zebra-consensus/src/block/subsidy/general.rs
  zebra-consensus/src/parameters/subsidy.rs
Labels: C-bug, A-consensus, P-Low :snowflake:, C-security, I-panic

#5837 change(rpc): Refactor get block template RPC into stages
  zebra-chain/src/block/hash.rs
  zebra-chain/src/lib.rs
  zebra-chain/src/parameters/network_upgrade.rs
  zebra-chain/src/serialization/date_time.rs
  zebra-chain/src/work/difficulty.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/parameters.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/long_poll.rs
  zebra-rpc/src/methods/get_block_template_rpcs/zip317.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/response.rs
  zebra-state/src/service/check.rs
  zebra-state/src/service/check/difficulty.rs
  zebra-state/src/service/read/difficulty.rs
  zebrad/src/components/sync/progress.rs
Labels: A-consensus, C-enhancement, C-cleanup, P-High :fire:, A-rpc, A-state, C-trivial

#5861 fix(rpc): Accept HashOrHeight as first parameter of getblock and update README.md to note differences between lightwalletd forks
  README.md
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/vectors.rs
Labels: C-bug, A-docs, A-rust, P-Medium :zap:, I-usability, A-rpc, lightwalletd

#5843 feature(rpc): Add basic long polling support to the `getblocktemplate` RPC
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/parameters.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/long_poll.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/response.rs
Labels: P-Medium :zap:, A-rpc, A-state, C-feature, A-concurrency

#5862 change(rpc): Return from long polling immediately when the chain tip changes
  zebra-chain/src/chain_tip.rs
  zebra-chain/src/chain_tip/mock.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/long_poll.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template.coinbase_tx@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template.coinbase_tx@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic.coinbase_tx@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic.coinbase_tx@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll.coinbase_tx@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll.coinbase_tx@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@testnet_10.snap
  zebra-state/src/service/chain_tip.rs
  zebra-state/src/service/watch_receiver.rs
Labels: A-consensus, C-enhancement, P-Medium :zap:, I-slow, A-rpc, A-state, A-concurrency

#5867 change(rpc): Match `zcashd`'s block template exactly
  zebra-chain/src/transaction/builder.rs
  zebra-chain/src/transaction/serialize.rs
  zebra-chain/src/transparent/script.rs
  zebra-consensus/src/block/subsidy/funding_streams.rs
  zebra-consensus/src/lib.rs
  zebra-consensus/src/parameters/subsidy.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/zip317.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic.coinbase_tx@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic.coinbase_tx@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll.coinbase_tx@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll.coinbase_tx@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@testnet_10.snap
Labels: A-consensus, C-enhancement, P-Low :snowflake:, C-testing, A-rpc

#5886 Fix typo - replace #5866
  zebra-chain/src/transaction/unmined/zip317.rs
Labels: C-bug
