Repository ZcashFoundation/zebra, pull requests merged in 2023-02, with the labels that each got.

#6064 fix(workflow): Name the GitHub projects workflow
  .github/workflows/project-management.yml
Labels: C-bug, A-devops, C-cleanup, P-Low :snowflake:, C-trivial

#6035 Get details from transaction differences in `getrawmempool`
  zebra-utils/zcash-rpc-diff
Labels: P-Medium :zap:, C-testing, A-rpc, A-compatibility

#6066 fix(rpc): Make RPC "incorrect parameters" error code match `zcashd`
  zebra-rpc/src/constants.rs
  zebra-rpc/src/lib.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/server.rs
  zebra-rpc/src/server/http_request_compatibility.rs
  zebra-rpc/src/server/rpc_call_compatibility.rs
  zebra-rpc/src/server/tracing_middleware.rs
Labels: C-bug, P-High :fire:, A-rpc, A-compatibility

#6013 use `reddsa` crate and remove duplicated RedPallas code
  Cargo.lock
  zebra-chain/Cargo.toml
  zebra-chain/benches/redpallas.rs
  zebra-chain/src/orchard/action.rs
  zebra-chain/src/orchard/arbitrary.rs
  zebra-chain/src/orchard/shielded_data.rs
  zebra-chain/src/orchard/tests/preallocate.rs
  zebra-chain/src/primitives.rs
  zebra-chain/src/primitives/redpallas.rs
  zebra-chain/src/primitives/redpallas/batch.rs
  zebra-chain/src/primitives/redpallas/constants.rs
  zebra-chain/src/primitives/redpallas/error.rs
  zebra-chain/src/primitives/redpallas/hash.rs
  zebra-chain/src/primitives/redpallas/scalar_mul.rs
  zebra-chain/src/primitives/redpallas/signature.rs
  zebra-chain/src/primitives/redpallas/signing_key.rs
  zebra-chain/src/primitives/redpallas/tests.rs
  zebra-chain/src/primitives/redpallas/tests/basepoints.rs
  zebra-chain/src/primitives/redpallas/tests/batch.rs
  zebra-chain/src/primitives/redpallas/tests/prop.rs
  zebra-chain/src/primitives/redpallas/verification_key.rs
  zebra-chain/src/transaction/arbitrary.rs
  zebra-chain/src/transaction/serialize.rs
  zebra-consensus/src/error.rs
  zebra-consensus/src/primitives/redpallas.rs
  zebra-consensus/src/primitives/redpallas/tests.rs
  zebra-consensus/src/transaction.rs
Labels: A-dependencies, A-consensus, A-rust, C-cleanup, P-Low :snowflake:, A-cryptography, C-removed

#6044 fix(getblocktemplate): change error format in proposals
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/proposal.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_invalid-proposal@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_invalid-proposal@testnet_10.snap
Labels: C-bug, C-enhancement, P-Medium :zap:, A-rpc, A-compatibility

#6088 fix(README): Fix `lightwalletd` instructions to be compatible with Zebra
  README.md
  book/src/user/lightwalletd.md
Labels: C-bug, A-docs, C-cleanup, P-Low :snowflake:, A-compatibility

#6069 change(log): Log `submitblock` RPC successes and failures at info level
  zebra-rpc/src/methods/get_block_template_rpcs.rs
Labels: P-Low :snowflake:, A-diagnostics, A-rpc, C-feature, C-trivial

#6086 change(rpc): add validateaddress method
  Cargo.lock
  zebra-chain/Cargo.toml
  zebra-chain/src/primitives.rs
  zebra-chain/src/primitives/address.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/hex_data.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/validate_address.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/validate_address_basic@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/validate_address_basic@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/validate_address_invalid@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/validate_address_invalid@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
Labels: C-enhancement, P-Medium :zap:, A-rpc, C-feature

#6092 fix(rpc): Make the verbosity argument optional in the getblock RPC
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_1_arg@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_1_arg@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_2_args@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_2_args@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
Labels: C-bug, P-Medium :zap:, I-usability, A-rpc, A-compatibility

#6091 fix(test): avoid failing getblocktemplate acceptance test when the chain tip changes
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/parameters.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/hex_data.rs
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
  zebrad/tests/common/rpc_client.rs
Labels: C-bug, C-enhancement, P-High :fire:, I-integration-fail, C-testing, A-rpc, C-trivial

#6102 change(test): cleanup the getblocktemplate test
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
Labels: C-enhancement, P-Low :snowflake:, C-testing, C-trivial

#6087 change(deps): Upgrade to the zcash_primitives 0.10 API
  Cargo.lock
  zebra-chain/Cargo.toml
  zebra-chain/src/primitives/zcash_note_encryption.rs
  zebra-chain/src/primitives/zcash_primitives.rs
  zebra-consensus/Cargo.toml
Labels: A-dependencies, A-consensus, C-enhancement, P-Medium :zap:, A-cryptography

#6106 doc(changelog): Fix missing PRs in the changelog
  CHANGELOG.md
Labels: C-bug, A-docs, C-enhancement, C-cleanup, P-Low :snowflake:, C-trivial

#6103 fix(ci): Fix full sync timeouts
  .github/workflows/deploy-gcp-tests.yml
  zebrad/tests/common/sync.rs
Labels: C-bug, A-devops, P-High :fire:, I-integration-fail, C-trivial

#6099 feat(rpc): implement `getdifficulty`
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_difficulty@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_difficulty@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
Labels: A-rust, P-Medium :zap:, C-feature, A-compatibility

#6097 add(rpc): Add extra `getblock` RPC fields used by some mining pools
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshots/get_block_data_hash_verbosity_0@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_data_hash_verbosity_0@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_data_height_verbosity_0@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_data_height_verbosity_0@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_default@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_default@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/tests/vectors.rs
  zebra-state/src/request.rs
Labels: C-enhancement, P-Medium :zap:, I-usability, A-rpc, C-feature, A-concurrency, A-compatibility

#6109 Update audit scope based on audit-v1.0.0-rc.0 tag
  book/src/dev/zebra-dependencies-for-audit.md
Labels: A-docs, P-High :fire:, C-trivial

#6105 change(rpc): Simplify `getdifficulty` RPC implementation
  zebra-chain/src/work/difficulty.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_difficulty@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_difficulty@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
Labels: A-consensus, C-enhancement, C-cleanup, P-Medium :zap:, A-rpc, A-compatibility

#6135 fix(state): Corrects panic/timer messages in state request
  zebra-state/src/service.rs
Labels: C-bug, C-cleanup, P-Low :snowflake:, A-diagnostics, A-state, C-trivial

#6139 cleanup(consensus): Remove unused `impl ZcashDeserialize for Height`
  zebra-chain/src/block/height.rs
Labels: A-consensus, C-cleanup, P-Low :snowflake:, C-trivial, C-removed

#6122 fix(state): Fix minute-long delays in block verification after a chain fork
  zebra-chain/src/sapling/tree.rs
  zebra-chain/src/sprout/tree.rs
  zebra-state/src/service/non_finalized_state.rs
  zebra-state/src/service/non_finalized_state/chain.rs
  zebra-state/src/service/non_finalized_state/tests/prop.rs
  zebra-state/src/service/non_finalized_state/tests/vectors.rs
Labels: C-bug, A-consensus, P-Medium :zap:, C-security, A-rpc, A-state, C-removed

#6134 fix(rpc): Add `getblock` RPC fields to support the latest version of `zcash/lightwalletd`
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebrad/tests/common/lightwalletd.rs
Labels: C-bug, A-consensus, P-Medium :zap:, A-rpc, A-state, lightwalletd, A-compatibility

#6164 fix(ci): Run lightwalletd full sync in multi-job mode
  .github/workflows/continous-integration-docker.yml
Labels: C-bug, A-devops, P-High :fire:, I-integration-fail, C-trivial

#6154 fix(mempool): Re-verify transactions that were verified at a different tip height
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/downloads.rs
  zebrad/src/components/mempool/tests/vector.rs
Labels: C-bug, A-consensus, P-Medium :zap:, I-consensus, I-integration-fail, A-rpc, I-lose-funds, A-concurrency

#6184 fix(test): Avoid spurious test_rpc_response_data test failure
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
Labels: C-bug, P-Medium :zap:, I-hang, I-integration-fail, C-testing, A-rpc, C-trivial

#6176 fix(ci): Increase macOS CI timeout
  .github/workflows/continous-integration-os.yml
Labels: C-bug, A-devops, P-High :fire:, I-slow, I-integration-fail, C-trivial

#6171 feat(rpc): Implement `z_listunifiedreceivers`
  zebra-chain/src/primitives/address.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/unified_address.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_list_unified_receivers_ua1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_list_unified_receivers_ua1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_list_unified_receivers_ua2@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_list_unified_receivers_ua2@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
Labels: A-rust, P-High :fire:, A-rpc, C-feature

#6185 feat(rpc): Implement the `z_validateaddress` RPC
  zebra-chain/src/primitives/address.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/z_validate_address.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_validate_address_basic@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_validate_address_basic@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_validate_address_invalid@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/z_validate_address_invalid@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
Labels: A-rust, P-High :fire:, A-rpc, C-feature

#6163 fix(consensus): Check that Zebra's state contains the social consensus chain on startup
  CHANGELOG.md
  zebra-consensus/src/chain.rs
  zebra-consensus/src/checkpoint/list.rs
  zebra-consensus/src/config.rs
  zebra-consensus/src/error.rs
  zebra-consensus/src/lib.rs
  zebra-state/src/lib.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/finalized_state.rs
  zebra-state/src/service/finalized_state/zebra_db.rs
  zebra-state/src/service/finalized_state/zebra_db/arbitrary.rs
  zebrad/src/commands/start.rs
  zebrad/tests/common/sync.rs
Labels: C-bug, A-consensus, P-Medium :zap:, C-security, I-consensus, I-bad-data, A-state, I-lose-funds, A-concurrency

#6201 change(docs): Add detailed testnet mining docs to the Zebra repository
  book/src/user/mining-testnet-s-nomp.md
Labels: A-docs, C-enhancement, P-Medium :zap:, C-feature

#6098 change(log): Log a cute message for blocks that were mined by Zebra (off by default)
  zebra-chain/src/transaction/builder.rs
  zebra-chain/src/transparent.rs
  zebra-chain/src/transparent/serialize.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/config.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/zip317.rs
  zebra-rpc/src/methods/tests/prop.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
  zebra-state/src/service.rs
  zebra-state/src/service/write.rs
  zebrad/tests/common/configs/getblocktemplate-v1.0.0-rc.5.toml
Labels: C-enhancement, P-Low :snowflake:, A-diagnostics, A-rpc, A-state

#6199 feat(docs): Add mining instructions to the zebra book
  book/src/SUMMARY.md
  book/src/user/mining.md
Labels: A-docs, P-Medium :zap:, C-feature

#6203 fix(install): Downgrade `owo-colors` from 3.6.0 to 3.5.0
  Cargo.lock
  zebra-test/Cargo.toml
Labels: C-bug, A-dependencies, P-Medium :zap:, C-trivial

#6208 feat(checkpoints): Add mainnet and testnet checkpoints for 2023-02-22
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
Labels: C-feature, C-trivial

#6214 build(deps): Bump zcash_script version and update deny.toml
  Cargo.lock
  deny.toml
  zebra-script/Cargo.toml
Labels: A-dependencies, P-Medium :zap:, A-script

#6213 Release v1.0.0-rc.5
  CHANGELOG.md
  Cargo.lock
  README.md
  book/src/user/docker.md
  tower-batch/Cargo.toml
  tower-fallback/Cargo.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-network/Cargo.toml
  zebra-network/src/constants.rs
  zebra-node-services/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-script/Cargo.toml
  zebra-state/Cargo.toml
  zebra-test/Cargo.toml
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
Labels: C-trivial

#6216 fix(deps): Remove unused dependencies, and check for them in CI
  .github/workflows/continous-integration-os.patch.yml
  .github/workflows/continous-integration-os.yml
  Cargo.lock
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-state/Cargo.toml
  zebrad/Cargo.toml
Labels: C-bug, A-dependencies, A-devops, P-Low :snowflake:, C-security, I-bad-code, C-removed

#6227 build(deps): Replace direct dependency on sentry-tracing with 'tracing' feature on sentry
  Cargo.lock
  zebrad/Cargo.toml
  zebrad/src/components/tracing/component.rs
Labels: A-dependencies, A-rust, P-Low :snowflake:, C-trivial

#6220 Add instructions for mining with s-nomp to Zebra book
  book/src/SUMMARY.md
  book/src/user/mining.md
Labels: A-docs, C-cleanup, P-Optional :sparkles:, C-feature

#6249 Show `Cargo.lock` files in the github diff view
  .gitattributes
Labels: A-devops, C-enhancement, P-Medium :zap:, C-trivial
