Repository ZcashFoundation/zebra, pull requests merged in 2023-01, with the labels that each got.

#5909 fix(test): Avoid spurious rpc_getblocktemplate test failure
  zebra-rpc/src/methods/tests/vectors.rs
Labels: C-bug, C-enhancement, P-Low :snowflake:, C-testing, A-concurrency

#5916 fix(clippy): Fix nightly clippy redundant code lints
  zebra-consensus/src/transaction.rs
  zebra-state/src/service/chain_tip.rs
  zebra-state/src/service/read/find.rs
  zebrad/src/components/inbound.rs
  zebrad/src/components/mempool/storage/tests/vectors.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/sync.rs
Labels: C-bug, A-rust, C-cleanup, P-Low :snowflake:, C-trivial

#5915 refactor(state): Make implementation of block consensus rules clearer
  zebra-state/src/service.rs
  zebra-state/src/service/check.rs
  zebra-state/src/service/read.rs
  zebra-state/src/service/read/block.rs
Labels: C-bug, A-consensus, P-Low :snowflake:, A-state, C-trivial

#5928 Release Zebra 1.0.0-rc.3
  .cargo/config.toml
  .github/PULL_REQUEST_TEMPLATE/release-checklist.md
  CHANGELOG.md
  Cargo.lock
  README.md
  book/src/user/docker.md
  book/src/user/install.md
  tower-batch/Cargo.toml
  tower-fallback/Cargo.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
  zebra-network/Cargo.toml
  zebra-network/src/constants.rs
  zebra-node-services/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-script/Cargo.toml
  zebra-state/Cargo.toml
  zebra-test/Cargo.toml
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
Labels: A-docs, P-High :fire:, C-trivial

#5892 change(docs): Update 'Design Overview' page of Zebra book
  book/book.toml
  book/src/dev/diagrams/service-dependencies.svg
  book/src/dev/overview.md
  book/src/dev/rfcs/0001-pipelinable-block-lookup.md
  book/theme/css/custom.css
Labels: A-docs, C-enhancement, P-Low :snowflake:, C-trivial, no-review-reminders

#5874 fix(ci): remove warnings caused by missing `actions/checkout` step
  .github/workflows/continous-delivery.yml
Labels: C-bug, A-devops, P-Low :snowflake:, I-usability, C-trivial, C-removed

#5930 ci: reduce the amount of API calls made by `arduino/setup-protoc@v1`
  .github/workflows/build-crates-individually.yml
  .github/workflows/continous-integration-os.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
Labels: C-bug, A-devops, P-Medium :zap:, I-integration-fail, C-trivial

#5870 change(rpc): Add proposal capability to getblocktemplate
  zebra-consensus/Cargo.toml
  zebra-consensus/src/block.rs
  zebra-consensus/src/block/check.rs
  zebra-consensus/src/block/request.rs
  zebra-consensus/src/block/tests.rs
  zebra-consensus/src/chain.rs
  zebra-consensus/src/chain/tests.rs
  zebra-consensus/src/lib.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/parameters.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_basic@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_invalid-proposal@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_invalid-proposal@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_long_poll@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_proposal@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_proposal@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/check.rs
  zebra-state/src/service/check/tests/anchors.rs
  zebra-state/src/service/check/tests/nullifier.rs
  zebra-state/src/service/check/tests/utxo.rs
  zebra-state/src/service/non_finalized_state.rs
  zebra-state/src/service/write.rs
  zebrad/src/components/inbound.rs
  zebrad/src/components/inbound/downloads.rs
  zebrad/src/components/inbound/tests/real_peer_set.rs
  zebrad/src/components/sync.rs
  zebrad/src/components/sync/downloads.rs
  zebrad/src/components/sync/tests/vectors.rs
Labels: A-consensus, C-enhancement, P-Optional :sparkles:, A-rpc, A-state, C-feature, A-concurrency, no-review-reminders

#5953 fix(rpc): Fix Merkle root transaction order in getblocktemplate RPC method
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
Labels: C-bug, A-consensus, P-High :fire:, I-consensus, A-rpc, I-lose-funds

#5873 feat(ci): delete unused artifacts in registries
  .github/workflows/delete-gcp-resources.yml
Labels: A-infrastructure, A-devops, C-cleanup, P-Medium :zap:, I-cost, C-feature, C-trivial

#5925 fix(rpc): Calculate getblocktemplate RPC testnet min and max times correctly
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-state/src/response.rs
  zebra-state/src/service/read/difficulty.rs
Labels: C-bug, A-consensus, P-High :fire:, I-consensus, A-rpc

#5960 fix(diagnostics): Hex-encode debug format of commitments, nonces, and nullifiers
  zebra-chain/src/block.rs
  zebra-chain/src/block/arbitrary.rs
  zebra-chain/src/block/commitment.rs
  zebra-chain/src/block/header.rs
  zebra-chain/src/block/serialize.rs
  zebra-chain/src/block/tests/prop.rs
  zebra-chain/src/fmt.rs
  zebra-chain/src/orchard/arbitrary.rs
  zebra-chain/src/primitives/proofs/bctv14.rs
  zebra-chain/src/primitives/proofs/groth16.rs
  zebra-chain/src/primitives/redpallas/batch.rs
  zebra-chain/src/primitives/redpallas/signature.rs
  zebra-chain/src/primitives/redpallas/signing_key.rs
  zebra-chain/src/primitives/redpallas/verification_key.rs
  zebra-chain/src/sapling/note/nullifiers.rs
  zebra-chain/src/sprout/commitment.rs
  zebra-chain/src/sprout/joinsplit.rs
  zebra-chain/src/sprout/note/mac.rs
  zebra-chain/src/sprout/note/nullifiers.rs
  zebra-chain/src/transaction/serialize.rs
  zebra-chain/src/work/equihash.rs
  zebra-chain/src/work/tests/prop.rs
  zebra-consensus/src/block/tests.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-state/src/service/finalized_state/disk_format/shielded.rs
  zebra-state/src/tests.rs
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
Labels: C-bug, A-rust, P-High :fire:, A-diagnostics

#5985 ci(build): fallback to a stable buildkit version for `docker/build-push-action`
  .github/workflows/build-docker-image.yml
Labels: C-bug, A-devops, P-Critical :ambulance:, I-integration-fail, I-build-fail, C-trivial

#5959 fix(clippy): Fix new lints in nightly clippy
  zebra-chain/src/orchard/tree.rs
  zebra-chain/src/parameters/network.rs
  zebra-network/src/meta_addr.rs
  zebra-test/tests/command.rs
  zebra-test/tests/transcript.rs
  zebra-utils/src/bin/zebra-checkpoints/main.rs
  zebrad/build.rs
  zebrad/src/bin/zebrad/main.rs
  zebrad/src/components/mempool.rs
Labels: C-bug, C-cleanup, P-Low :snowflake:, A-diagnostics, C-trivial

#5988 change(doc): Update PR template
  .github/pull_request_template.md
Labels: A-docs, C-enhancement, P-Low :snowflake:, C-trivial

#5998 fix(ci): Move docker push fix to the setup action
  .github/workflows/build-docker-image.yml
  .github/workflows/zcash-lightwalletd.yml
Labels: C-bug, A-devops, P-Critical :ambulance:, I-integration-fail, I-build-fail, C-trivial

#5901 docs(command): zebra download
  book/src/SUMMARY.md
  book/src/user/parameters.md
  zebra-consensus/src/chain.rs
  zebra-consensus/src/primitives/groth16/params.rs
Labels: A-docs, P-Low :snowflake:, P-Optional :sparkles:, A-cryptography

#5993 fix(rpc): Return detailed errors to the RPC client when a block proposal fails
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/proposal.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_invalid-proposal@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_template_invalid-proposal@testnet_10.snap
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
Labels: C-bug, P-High :fire:, A-diagnostics, C-testing, A-rpc

#5992 fix(deps): Add test dependency from zebra-rpc to zebra-network with correct features
  zebra-rpc/Cargo.toml
Labels: C-bug, A-dependencies, P-High :fire:, I-build-fail, C-feature, C-trivial

#6007 fix(clippy): Inline a format variable in some new code
  zebra-utils/src/bin/block-template-to-proposal/main.rs
Labels: C-bug, C-cleanup, P-Low :snowflake:, A-diagnostics, C-trivial

#6012 fix typos in some consensus rules
  zebra-chain/src/sapling/output.rs
  zebra-chain/src/transaction/serialize.rs
Labels: A-docs, P-Low :snowflake:, C-trivial

#6006 fix(rpc): Avoid selecting duplicate transactions in block templates
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/zip317.rs
Labels: C-bug, A-consensus, P-High :fire:, A-rpc, I-lose-funds

#5994 change(rpc): Sort transaction hashes like zcashd in getrawmempool RPC response
  zebra-chain/src/transaction/hash.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/prop.rs
  zebra-rpc/src/methods/tests/snapshot.rs
Labels: C-enhancement, P-Low :snowflake:, C-testing, A-rpc

#5894 feat(zebra-checkpoints): make `zebra-checkpoints` work for zebrad backend
  Cargo.lock
  book/src/dev/zebra-checkpoints.md
  zebra-consensus/src/checkpoint/README.md
  zebra-utils/Cargo.toml
  zebra-utils/README.md
  zebra-utils/src/bin/zebra-checkpoints/args.rs
  zebra-utils/src/bin/zebra-checkpoints/main.rs
Labels: A-docs, A-consensus, P-Low :snowflake:, A-rpc, C-feature, A-compatibility

#5968 ci: add a test to check that the Docker image config works
  .github/workflows/continous-delivery.yml
  .github/workflows/continous-integration-docker.patch.yml
  .github/workflows/continous-integration-docker.yml
  docker/Dockerfile
  docker/entrypoint.sh
Labels: A-devops, P-Medium :zap:, I-usability, C-testing, C-feature, C-trivial

#6008 feat(actions): add a workflow to automatically add new Zebra issues to projects
  .github/workflows/project-management.yml
Labels: A-devops, C-enhancement, P-Medium :zap:, C-feature, C-trivial

#6024 fix(clippy): Silence future-incompat warnings until we upgrade Abscissa
  .cargo/config.toml
  .github/workflows/continous-integration-os.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
Labels: C-bug, A-rust, C-cleanup, P-Low :snowflake:, A-diagnostics, C-trivial

#6027 fix(consensus): Verify the lock times of mempool transactions
  zebra-consensus/src/error.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-state/src/request.rs
  zebra-state/src/response.rs
  zebra-state/src/service.rs
  zebra-state/src/service/read.rs
  zebra-state/src/service/read/find.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/storage.rs
Labels: C-bug, A-consensus, P-High :fire:, I-consensus, A-state, I-lose-funds, C-trivial, A-concurrency

#6045 Release v1.0.0-rc.4
  CHANGELOG.md
  Cargo.lock
  README.md
  book/src/user/docker.md
  tower-batch/Cargo.toml
  tower-fallback/Cargo.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
  zebra-network/Cargo.toml
  zebra-network/src/constants.rs
  zebra-node-services/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-script/Cargo.toml
  zebra-state/Cargo.toml
  zebra-test/Cargo.toml
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
Labels: C-trivial

#6053 fix(testnet): Increase legacy chain limit to 100,000
  zebra-state/src/constants.rs
Labels: C-bug, A-consensus, P-Low :snowflake:, I-panic, A-state

#6040 ci(lwd): run the send transactions test on each PR update
  .github/workflows/continous-integration-docker.patch-always.yml
  .github/workflows/continous-integration-docker.yml
Labels: A-infrastructure, A-devops, P-Low :snowflake:, C-testing, C-feature, C-trivial

#6039 chore(actions): use newer method to set an output parameter
  .github/workflows/build-crates-individually.patch.yml
  .github/workflows/build-crates-individually.yml
  .github/workflows/continous-delivery.yml
  .github/workflows/continous-integration-docker.yml
  .github/workflows/deploy-gcp-tests.yml
Labels: C-bug, A-devops, P-Medium :zap:, I-integration-fail, C-trivial

#6038 fix(docker): do not mix cache images with test images
  .github/workflows/build-docker-image.yml
Labels: C-bug, A-infrastructure, A-devops, P-Medium :zap:, I-integration-fail, C-trivial

#6032 feat(rpc): Implement the `getblocksubsidy` RPC
  zebra-chain/src/amount.rs
  zebra-consensus/src/block/subsidy/funding_streams.rs
  zebra-consensus/src/block/subsidy/funding_streams/tests.rs
  zebra-consensus/src/lib.rs
  zebra-consensus/src/parameters/subsidy.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/subsidy.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/zec.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_subsidy@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshot/snapshots/get_block_subsidy@testnet_10.snap
Labels: A-consensus, P-Medium :zap:, A-rpc, C-feature, A-compatibility

#6031 refactor(state): Simplify difficulty and median-time-past state and mempool requests
  zebra-chain/src/transaction.rs
  zebra-chain/src/transaction/lock_time.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/check.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-state/src/service.rs
  zebra-state/src/service/check/difficulty.rs
  zebra-state/src/service/read/difficulty.rs
  zebra-state/src/service/read/find.rs
Labels: A-consensus, C-cleanup, P-Low :snowflake:, A-state, C-trivial

#5963 change(ci): Run block proposal tests in CI
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/proposal.rs
  zebra-utils/src/bin/block-template-to-proposal/main.rs
  zebrad/tests/common/get_block_template_rpcs/get_block_template.rs
Labels: A-consensus, A-devops, C-enhancement, P-Medium :zap:, C-testing, A-rpc
