Repository ZcashFoundation/zebra, pull requests merged in 2024-07, with the labels that each got.

#8655 chore: Release v1.8.0
  .github/workflows/scripts/release-crates-dry-run.sh
  CHANGELOG.md
  Cargo.lock
  book/src/user/docker.md
  book/src/user/install.md
  tower-batch-control/Cargo.toml
  tower-fallback/Cargo.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-grpc/Cargo.toml
  zebra-network/Cargo.toml
  zebra-node-services/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-scan/Cargo.toml
  zebra-script/Cargo.toml
  zebra-state/Cargo.toml
  zebra-test/Cargo.toml
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
  zebrad/src/components/sync/end_of_support.rs
Labels: C-trivial, A-release, P-Critical :ambulance:

#8658 fix(tests): Address a port conflict issue in the non-blocking logger test
  zebrad/tests/acceptance.rs
Labels: C-testing, C-trivial, P-Low :snowflake:

#8665 fix(tests): Address a port conflict issue in the `regtest_submit_blocks` test
  zebrad/tests/common/regtest.rs
Labels: C-testing, C-trivial, P-Low :snowflake:

#8596 change(rpc): Adds a TrustedChainSync struct for keeping up with Zebra's non-finalized best chain from a separate process
  zebra-node-services/src/rpc_client.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/src/lib.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/parameters.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/submit_block.rs
  zebra-rpc/src/methods/hex_data.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/sync.rs
  zebra-state/src/lib.rs
  zebra-state/src/service/finalized_state/disk_db.rs
  zebra-state/src/service/finalized_state/zebra_db.rs
  zebrad/Cargo.toml
  zebrad/src/components/miner.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/get_block_template_rpcs/get_peer_info.rs
  zebrad/tests/common/regtest.rs
Labels: A-rpc, A-state, no-review-reminders, P-Medium :zap:

#8608 feat(scanner): Add a new `zebra-scanner` binary
  Cargo.lock
  zebra-scan/Cargo.toml
  zebra-scan/src/bin/scanner/main.rs
  zebra-scan/src/config.rs
  zebra-scan/src/service/scan_task/scan.rs
  zebra-scan/src/service/tests.rs
  zebrad/tests/common/shielded_scan/scan_task_commands.rs
Labels: C-feature, A-blockchain-scanner, P-Medium :zap:

#8659 tests(scanner): Move zebra scanner tests to binary
  .github/workflows/sub-ci-integration-tests-gcp.yml
  Cargo.lock
  docker/entrypoint.sh
  zebra-scan/Cargo.toml
  zebra-scan/src/bin/scanning-results-reader/main.rs
  zebra-scan/src/bin/zebrad-for-scanner/main.rs
  zebra-scan/tests/scan_task_commands.rs
  zebra-scan/tests/scanner.rs
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
  zebrad/src/config.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/mod.rs
  zebrad/tests/common/shielded_scan.rs
Labels: C-trivial, A-blockchain-scanner, P-Medium :zap:

#8674 add(rpc): Add a tonic server in zebra-rpc
  Cargo.lock
  zebra-rpc/Cargo.toml
  zebra-rpc/build.rs
  zebra-rpc/proto/indexer.proto
  zebra-rpc/src/config.rs
  zebra-rpc/src/indexer.rs
  zebra-rpc/src/indexer/methods.rs
  zebra-rpc/src/indexer/server.rs
  zebra-rpc/src/indexer/tests.rs
  zebra-rpc/src/indexer/tests/vectors.rs
  zebra-rpc/src/lib.rs
  zebra-rpc/src/server/tests/vectors.rs
  zebrad/Cargo.toml
  zebrad/src/commands/start.rs
  zebrad/tests/acceptance.rs
Labels: A-rpc, P-Medium :zap:

#8675 docs(blockchain-scanner): Update documentation for the new `zebra-scanner` binary
  Cargo.lock
  book/src/user/shielded-scan-grpc-server.md
  book/src/user/shielded-scan.md
  zebra-scan/src/bin/scanner/main.rs
  zebra-scan/tests/scanner.rs
Labels: A-docs, A-blockchain-scanner, P-Medium :zap:

#8693 add(chain): Add an NU6 network upgrade variant
  zebra-chain/src/block/commitment.rs
  zebra-chain/src/history_tree.rs
  zebra-chain/src/parameters/network/testnet.rs
  zebra-chain/src/parameters/network/tests/vectors.rs
  zebra-chain/src/parameters/network_upgrade.rs
  zebra-chain/src/primitives/zcash_history.rs
  zebra-chain/src/transaction/arbitrary.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests/prop.rs
  zebra-network/src/protocol/external/types.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_block_template/proposal.rs
Labels: A-rust, NU-6, P-Medium :zap:

#8703 config, docs: update hardcoded users
  book/src/dev/crate-owners.md
  release.toml
Labels: P-High 🔥

#8699 fix(rpc): Return full network upgrade activation list in `getblockchaininfo` method
  zebra-chain/src/parameters/network/tests/vectors.rs
  zebra-chain/src/parameters/network_upgrade.rs
  zebra-rpc/src/methods.rs
Labels: C-bug, A-rpc, lightwalletd, P-Medium :zap:

#8700 add(network-params): Allow configuring NU6 activation height on Regtest
  zebra-chain/src/parameters/network.rs
  zebra-chain/src/parameters/network/testnet.rs
  zebra-chain/src/parameters/network/tests/vectors.rs
  zebra-consensus/src/checkpoint/list/tests.rs
  zebra-network/src/config.rs
  zebra-network/src/constants.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/configs/v1.9.0.toml
  zebrad/tests/common/regtest.rs
Labels: NU-6, C-testing, C-trivial, P-Low :snowflake:

#8714 Update lightwalletd.md
  book/src/user/lightwalletd.md
Labels: A-docs, lightwalletd

#8723 chore(lints): Fixes Clippy warnings
  zebra-chain/src/serialization/arbitrary.rs
  zebra-consensus/src/block/check.rs
  zebra-consensus/src/transaction/check.rs
  zebra-consensus/src/transaction/tests/prop.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/submit_block.rs
  zebra-rpc/src/queue.rs
  zebra-rpc/src/server/http_request_compatibility.rs
  zebra-rpc/src/sync.rs
  zebra-scan/src/bin/scanning-results-reader/main.rs
  zebra-state/src/service/finalized_state/zebra_db/transparent.rs
  zebra-state/src/service/non_finalized_state.rs
  zebra-state/src/tests/setup.rs
  zebrad/src/components/sync.rs
  zebrad/src/components/sync/end_of_support.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/config.rs
  zebrad/tests/common/configs/shieldedscan-v1.5.0.toml
  zebrad/tests/common/configs/shieldedscan-v1.6.0.toml
  zebrad/tests/common/lightwalletd/wallet_grpc_test.rs
Labels: C-cleanup, C-trivial, P-High 🔥

#8724 change(tests): Adds timeouts tonic clients in tests
  zebra-grpc/src/tests/vectors.rs
  zebra-rpc/src/indexer/tests/vectors.rs
Labels: C-cleanup, C-testing, C-trivial, C-tech-debt, P-Low :snowflake:

#8718 change(network-params): Configurable Testnet funding streams
  zebra-chain/src/parameters.rs
  zebra-chain/src/parameters/network.rs
  zebra-chain/src/parameters/network/subsidy.rs
  zebra-chain/src/parameters/network/testnet.rs
  zebra-chain/src/parameters/network/tests/vectors.rs
  zebra-consensus/src/block/check.rs
  zebra-consensus/src/block/subsidy/funding_streams.rs
  zebra-consensus/src/block/subsidy/funding_streams/tests.rs
  zebra-consensus/src/block/subsidy/general.rs
  zebra-consensus/src/lib.rs
  zebra-consensus/src/parameters.rs
  zebra-network/src/config.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/subsidy.rs
  zebrad/tests/common/configs/v1.9.0.toml
Labels: A-consensus, NU-6, C-testing, C-trivial, P-Medium :zap:

#8732 change: Refactor the deserialization of `ValueBalance`s
  zebra-chain/src/value_balance.rs
  zebra-chain/src/value_balance/tests/prop.rs
  zebra-state/src/service/finalized_state/disk_format/chain.rs
Labels: A-state, P-Critical :ambulance:, rust
