Repository ZcashFoundation/zebra, pull requests merged in 2024-12, with the labels that each got.

#9006 change(rpc): Update `getblock` RPC to more closely match zcashd
  zebra-rpc/src/constants.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_2@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_2@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_default@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_default@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_2@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_2@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-utils/zcash-rpc-diff
Labels: C-enhancement, A-rpc, A-compatibility, P-Medium :zap:

#9067 change(mempool): Return verification result after attempting to insert transactions in the mempool
  zebra-consensus/src/transaction.rs
  zebra-node-services/src/mempool.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/downloads.rs
  zebrad/src/components/mempool/tests/vector.rs
Labels: C-cleanup, I-usability, C-trivial, A-concurrency, A-mempool, P-High 🔥

#9068 refactor(mergify): streamline queue and priority rules
  .github/mergify.yml
Labels: C-bug, A-devops, I-integration-fail, C-trivial, P-Critical :ambulance:

#9063 add(consensus): Check consensus branch ids in tx verifier
  zebra-chain/src/transaction.rs
  zebra-consensus/src/error.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/check.rs
  zebra-consensus/src/transaction/tests.rs
Labels: C-bug, A-consensus, NU-6, extra-reviews, P-High 🔥, rust

#9071 release(checkpoints): Update checkpoints for v2.1.0 release
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
Labels: C-trivial, A-release, P-High 🔥

#9072 Release v2.1.0
  .github/workflows/scripts/release-crates-dry-run.sh
  CHANGELOG.md
  Cargo.lock
  book/src/user/docker.md
  book/src/user/install.md
  tower-batch-control/Cargo.toml
  tower-fallback/Cargo.toml
  zebra-chain/Cargo.toml
  zebra-consensus/Cargo.toml
  zebra-grpc/Cargo.toml
  zebra-network/Cargo.toml
  zebra-node-services/Cargo.toml
  zebra-rpc/Cargo.toml
  zebra-scan/Cargo.toml
  zebra-script/Cargo.toml
  zebra-state/Cargo.toml
  zebra-test/Cargo.toml
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
  zebrad/src/components/sync/end_of_support.rs
Labels: C-trivial, A-release, P-Critical :ambulance:

#9052 fix(test): Fixes bugs in the lightwalletd integration tests
  zebrad/tests/common/lightwalletd/send_transaction_test.rs
  zebrad/tests/common/lightwalletd/sync.rs
  zebrad/tests/common/lightwalletd/wallet_grpc_test.rs
Labels: C-bug, C-testing, C-trivial, P-High 🔥

#9049 fix(rpc): Refactor `getrawtransaction` & RPC error handling
  zebra-chain/src/transaction/hash.rs
  zebra-rpc/src/constants.rs
  zebra-rpc/src/lib.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/errors.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/tests/prop.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshots/get_raw_transaction_verbosity_0@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_raw_transaction_verbosity_0@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_raw_transaction_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_raw_transaction_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_invalid_txid@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_invalid_txid@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_unknown_txid@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_unknown_txid@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_verbosity=0@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_verbosity=0@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_verbosity=1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/getrawtransaction_verbosity=1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/z_get_treestate_by_non_existent_hash@custom_testnet.snap
  zebra-rpc/src/methods/tests/snapshots/z_get_treestate_excessive_block_height@custom_testnet.snap
  zebra-rpc/src/methods/tests/snapshots/z_get_treestate_unparsable_hash_or_height@custom_testnet.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
  zebra-rpc/src/server/error.rs
  zebra-rpc/src/server/rpc_call_compatibility.rs
  zebra-rpc/src/sync.rs
  zebra-rpc/src/tests/vectors.rs
  zebrad/tests/common/regtest.rs
Labels: C-bug, A-rpc, P-Medium :zap:, rust

#9083 add(rpc): getblock: return transaction details with verbosity=2
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_2@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_2@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_2@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_2@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/tests/vectors.rs
Labels: P-Medium :zap:

#8951 change(rpc): Avoid re-verifying transactions in blocks if those transactions are in the mempool
  zebra-consensus/src/block.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-consensus/src/transaction/tests/prop.rs
  zebra-node-services/src/mempool.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/storage.rs
Labels: I-slow, A-rpc, C-trivial, P-Low :snowflake:

#9085 change(consensus): Allow transactions spending coinbase outputs to have transparent outputs on Regtest
  zebra-chain/src/block/arbitrary.rs
  zebra-chain/src/parameters/network/testnet.rs
  zebra-chain/src/transaction.rs
  zebra-chain/src/transparent/utxo.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/check.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-state/src/service/check/tests/utxo.rs
  zebra-state/src/service/check/utxo.rs
Labels: A-consensus, C-testing, P-Medium :zap:

#9059 feature(rpc): Migrate from deprecated `jsonrpc_*` crates to `jsonrpsee`
  Cargo.lock
  deny.toml
  zebra-rpc/Cargo.toml
  zebra-rpc/src/config.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/get_block_template_rpcs.rs
  zebra-rpc/src/methods/get_block_template_rpcs/constants.rs
  zebra-rpc/src/methods/get_block_template_rpcs/get_block_template.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/get_mining_info.rs
  zebra-rpc/src/methods/get_block_template_rpcs/types/submit_block.rs
  zebra-rpc/src/methods/tests/prop.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshot/get_block_template_rpcs.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/server.rs
  zebra-rpc/src/server/error.rs
  zebra-rpc/src/server/http_request_compatibility.rs
  zebra-rpc/src/server/rpc_call_compatibility.rs
  zebra-rpc/src/server/tests/vectors.rs
  zebra-rpc/src/sync.rs
  zebrad/Cargo.toml
  zebrad/src/commands/start.rs
  zebrad/src/components/miner.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/regtest.rs
  zebrad/tests/snapshots/z_getsubtreesbyindex_mainnet_orchard_0_1.snap
  zebrad/tests/snapshots/z_getsubtreesbyindex_mainnet_orchard_338_1.snap
  zebrad/tests/snapshots/z_getsubtreesbyindex_mainnet_orchard_585_1.snap
  zebrad/tests/snapshots/z_getsubtreesbyindex_mainnet_sapling_0_1.snap
  zebrad/tests/snapshots/z_getsubtreesbyindex_mainnet_sapling_0_11.snap
  zebrad/tests/snapshots/z_getsubtreesbyindex_mainnet_sapling_1090_6.snap
  zebrad/tests/snapshots/z_getsubtreesbyindex_mainnet_sapling_17_1.snap
Labels: A-dependencies, A-rpc, C-feature, P-Medium :zap:, C-deprecated
