Repository ZcashFoundation/zebra, pull requests merged in 2025-07, with the labels that each got.

#9677 change(build): Adds `prometheus` as a default feature in zebrad
  docker/entrypoint.sh
  zebrad/Cargo.toml
Labels: C-feature

#9652 feat(rpc): Adds binding_sig, joinsplit_pub_key and joinsplit_sig fields to TransactionObject
  zebra-chain/src/serialization/serde_helpers.rs
  zebra-chain/src/transaction.rs
  zebra-rpc/src/methods/types/transaction.rs
  zebra-rpc/src/tests/vectors.rs
  zebra-rpc/tests/serialization_tests.rs
Labels: C-feature

#9674 Release 2.4.0
  .github/PULL_REQUEST_TEMPLATE/release-checklist.md
  CHANGELOG.md
  Cargo.lock
  book/src/user/docker.md
  book/src/user/install.md
  deny.toml
  tower-batch-control/CHANGELOG.md
  tower-batch-control/Cargo.toml
  tower-fallback/CHANGELOG.md
  tower-fallback/Cargo.toml
  zebra-chain/CHANGELOG.md
  zebra-chain/Cargo.toml
  zebra-consensus/CHANGELOG.md
  zebra-consensus/Cargo.toml
  zebra-consensus/src/checkpoint/main-checkpoints.txt
  zebra-consensus/src/checkpoint/test-checkpoints.txt
  zebra-grpc/CHANGELOG.md
  zebra-network/CHANGELOG.md
  zebra-network/Cargo.toml
  zebra-node-services/CHANGELOG.md
  zebra-node-services/Cargo.toml
  zebra-rpc/CHANGELOG.md
  zebra-rpc/Cargo.toml
  zebra-scan/CHANGELOG.md
  zebra-script/CHANGELOG.md
  zebra-script/Cargo.toml
  zebra-state/CHANGELOG.md
  zebra-state/Cargo.toml
  zebra-test/CHANGELOG.md
  zebra-test/Cargo.toml
  zebra-utils/CHANGELOG.md
  zebra-utils/Cargo.toml
  zebrad/Cargo.toml
  zebrad/src/components/sync/end_of_support.rs
  zebrad/tests/common/checkpoints.rs
Labels: A-release, P-Critical :ambulance:

#9700 fix(log): Downgrade verbose mempool message
  zebrad/src/components/mempool.rs
Labels: I-usability, A-mempool

#9711 fix(release): allow `deploy-nodes` job to run for releases
  .github/workflows/cd-deploy-nodes-gcp.yml
  .github/workflows/sub-find-cached-disks.yml
Labels: C-bug, A-devops, A-release, P-Critical :ambulance:

#9670 Count sigops using generics
  Cargo.lock
  Cargo.toml
  zebra-chain/src/transaction/arbitrary.rs
  zebra-chain/src/transaction/unmined.rs
  zebra-consensus/src/block.rs
  zebra-consensus/src/block/tests.rs
  zebra-consensus/src/error.rs
  zebra-consensus/src/transaction.rs
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/methods/types/get_block_template.rs
  zebra-rpc/src/methods/types/get_block_template/proposal.rs
  zebra-rpc/src/methods/types/get_block_template/zip317.rs
  zebra-rpc/src/methods/types/transaction.rs
  zebra-script/Cargo.toml
  zebra-script/src/lib.rs
  zebra-script/src/tests.rs
  zebrad/tests/acceptance.rs
Labels: P-Medium :zap:

#9603 add(consensus): Implement one-time lockbox disbursement mechanism for NU6.1
  Cargo.lock
  zebra-chain/src/amount.rs
  zebra-chain/src/block.rs
  zebra-chain/src/parameters/network.rs
  zebra-chain/src/parameters/network/subsidy.rs
  zebra-chain/src/parameters/network/testnet.rs
  zebra-chain/src/parameters/network/tests/vectors.rs
  zebra-consensus/Cargo.toml
  zebra-consensus/src/block.rs
  zebra-consensus/src/block/check.rs
  zebra-consensus/src/block/subsidy.rs
  zebra-consensus/src/block/subsidy/funding_streams.rs
  zebra-consensus/src/block/subsidy/funding_streams/tests.rs
  zebra-consensus/src/block/tests.rs
  zebra-consensus/src/checkpoint.rs
  zebra-consensus/src/lib.rs
  zebra-network/src/config.rs
  zebra-rpc/src/methods/types/get_block_template.rs
  zebra-state/src/arbitrary.rs
  zebra-state/src/request.rs
  zebra-state/src/service/chain_tip.rs
  zebra-state/src/service/finalized_state/disk_format/upgrade/block_info_and_address_received.rs
  zebra-state/src/service/finalized_state/zebra_db/block/tests/vectors.rs
  zebra-state/src/service/finalized_state/zebra_db/chain.rs
Labels: A-consensus, P-Medium :zap:, NU-6.1

#9716 refactor(ci): improve sync concurrency and state disk mounting
  .github/workflows/ci-tests.yml
  .github/workflows/sub-ci-integration-tests-gcp.yml
  .github/workflows/sub-deploy-integration-tests-gcp.yml
Labels: C-bug, A-infrastructure, A-devops, I-integration-fail, P-Critical :ambulance:
