Repository ZcashFoundation/zebra, pull requests merged in 2025-06, with the labels that each got.

#9573 fix(ci): prevent Google Cloud workflow failures on fork PRs
  .github/workflows/cd-deploy-nodes-gcp.patch-external.yml
  .github/workflows/cd-deploy-nodes-gcp.yml
Labels: C-bug, A-devops, I-integration-fail, P-High 🔥

#9526 change(consensus): Adds a `Nu6_1` variant to `NetworkUpgrade`
  zebra-chain/src/block/commitment.rs
  zebra-chain/src/history_tree.rs
  zebra-chain/src/parameters/network/testnet.rs
  zebra-chain/src/parameters/network_upgrade.rs
  zebra-chain/src/primitives/zcash_history.rs
  zebra-chain/src/transaction/arbitrary.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests/prop.rs
  zebra-network/src/constants.rs
  zebra-network/src/protocol/external/types.rs
  zebra-rpc/src/methods/types/get_block_template/proposal.rs
  zebrad/tests/common/configs/v2.3.0.toml
Labels: A-consensus, A-network, P-Medium :zap:

#9582 fix(ci): handle tests that save state without requiring a cached disk
  .github/workflows/sub-deploy-integration-tests-gcp.yml
Labels: C-bug, A-infrastructure, A-devops, I-integration-fail, P-Critical :ambulance:

#9595 fix(ci): mark `sync-to-checkpoint` test as long-running
  .github/workflows/sub-ci-integration-tests-gcp.yml
  .github/workflows/sub-deploy-integration-tests-gcp.yml
Labels: A-devops, I-slow, I-integration-fail, C-testing, P-Critical :ambulance:, C-exclude-from-changelog

#9554 tests(wallet): Add initial framework to test zallet RPC methods
  zebra-rpc/build.rs
  zebra-rpc/qa/README.md
  zebra-rpc/qa/pull-tester/rpc-tests.py
  zebra-rpc/qa/rpc-tests/test_framework/proxy.py
  zebra-rpc/qa/rpc-tests/test_framework/util.py
  zebra-rpc/qa/rpc-tests/wallet.py
  zebra-rpc/qa/zallet-datadir/identity.txt
  zebra-rpc/qa/zallet-datadir/zallet.toml
Labels: C-testing, A-compatibility

#9594 fix(consensus): reuse sighasher when validating txs
  zebra-chain/src/error.rs
  zebra-chain/src/primitives/zcash_primitives.rs
  zebra-chain/src/serialization/error.rs
  zebra-chain/src/transaction.rs
  zebra-chain/src/transaction/sighash.rs
  zebra-chain/src/transaction/tests/vectors.rs
  zebra-consensus/src/block/tests.rs
  zebra-consensus/src/script.rs
  zebra-consensus/src/transaction.rs
  zebra-consensus/src/transaction/tests.rs
  zebra-rpc/src/methods/types/transaction.rs
  zebra-script/src/lib.rs
Labels: A-consensus, I-slow, P-Medium :zap:

#9574 add: Support configuring shielded addresses for mining
  .github/workflows/sub-test-zebra-config.yml
  Cargo.lock
  zebra-chain/src/parameters/network.rs
  zebra-chain/src/primitives/zcash_primitives.rs
  zebra-chain/src/transparent.rs
  zebra-chain/src/transparent/address.rs
  zebra-chain/src/transparent/script.rs
  zebra-chain/src/transparent/tests/vectors.rs
  zebra-consensus/src/block/subsidy/funding_streams.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/qa/base_config.toml
  zebra-rpc/src/config/mining.rs
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/snapshot.rs
  zebra-rpc/src/methods/tests/snapshots/get_block_template_basic.coinbase_tx@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_template_basic.coinbase_tx@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_template_basic@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_template_basic@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_template_long_poll.coinbase_tx@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_template_long_poll.coinbase_tx@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_template_long_poll@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_template_long_poll@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/methods/types/get_block_template.rs
  zebra-rpc/src/methods/types/get_block_template/zip317.rs
  zebra-rpc/src/methods/types/get_block_template/zip317/tests.rs
  zebrad/Cargo.toml
  zebrad/tests/acceptance.rs
  zebrad/tests/common/config.rs
  zebrad/tests/common/configs/v1.9.0-internal-miner.toml
Labels: C-enhancement, A-rpc, P-Medium :zap:

#8751 Use zcash_script’s new `Script` trait
  Cargo.lock
  Cargo.toml
  deny.toml
  zebra-script/Cargo.toml
  zebra-script/src/lib.rs
  zebrad/Cargo.toml
  zebrad/src/components/sync.rs
Labels: C-enhancement, A-script, C-trivial, no-review-reminders, P-Medium :zap:, rust

#9620 fix: Pad script in V5 coinbase
  zebra-chain/src/transparent.rs
  zebra-rpc/src/methods/types/get_block_template.rs
  zebra-rpc/src/methods/types/get_block_template/tests.rs
Labels: C-bug, A-consensus, I-consensus

#9638 Fix tests for `invalidate_block` and `reconsider_block`
  zebrad/tests/acceptance.rs
Labels: P-High 🔥

#9494 add(rpc): Add a `mempool_change()` RPC method for listening to changes in the mempool
  .github/workflows/ci-unit-tests-os.yml
  zebra-chain/src/chain_tip.rs
  zebra-chain/src/chain_tip/mock.rs
  zebra-node-services/src/mempool.rs
  zebra-node-services/src/mempool/mempool_change.rs
  zebra-rpc/Cargo.toml
  zebra-rpc/build.rs
  zebra-rpc/proto/indexer.proto
  zebra-rpc/src/indexer.rs
  zebra-rpc/src/indexer/methods.rs
  zebra-rpc/src/indexer/server.rs
  zebra-rpc/src/indexer/tests/vectors.rs
  zebra-rpc/src/lib.rs
  zebra-rpc/src/sync.rs
  zebra-scan/src/bin/scanner/main.rs
  zebra-scan/tests/scanner.rs
  zebra-state/src/service/chain_tip.rs
  zebrad/Cargo.toml
  zebrad/src/commands/start.rs
  zebrad/src/components/inbound/tests/fake_peer_set.rs
  zebrad/src/components/inbound/tests/real_peer_set.rs
  zebrad/src/components/mempool.rs
  zebrad/src/components/mempool/gossip.rs
  zebrad/src/components/mempool/storage.rs
  zebrad/src/components/mempool/storage/tests/prop.rs
  zebrad/src/components/mempool/storage/tests/vectors.rs
  zebrad/src/components/mempool/storage/verified_set.rs
  zebrad/src/components/mempool/tests/prop.rs
  zebrad/src/components/mempool/tests/vector.rs
  zebrad/tests/acceptance.rs
  zebrad/tests/common/regtest.rs
Labels: A-rpc, A-concurrency, A-mempool, P-Medium :zap:

#9621 refactor(test)!: standardize naming conventions across CI and Rust
  .github/workflows/README.md
  .github/workflows/ci-tests.patch-external.yml
  .github/workflows/ci-tests.patch.yml
  .github/workflows/sub-ci-integration-tests-gcp.yml
  .github/workflows/sub-ci-unit-tests-docker.yml
  .github/workflows/sub-deploy-integration-tests-gcp.yml
  book/src/dev/state-db-upgrades.md
  docker/entrypoint.sh
  docker/test.env
  docs/decisions/template.md
  zebra-state/src/service/finalized_state/disk_format/upgrade.rs
  zebrad/Cargo.toml
  zebrad/tests/acceptance.rs
Labels: C-design, A-rust, A-devops, I-usability, C-tech-debt, extra-reviews, P-High 🔥

#9432 feat(rpc): add value pools to getblock
  book/src/dev/state-db-upgrades.md
  zebra-rpc/src/methods.rs
  zebra-rpc/src/methods/tests/prop.rs
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_2@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_2@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_default@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_hash_verbosity_default@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_1@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_2@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_2@testnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@mainnet_10.snap
  zebra-rpc/src/methods/tests/snapshots/get_block_verbose_height_verbosity_default@testnet_10.snap
  zebra-rpc/src/methods/tests/vectors.rs
  zebra-rpc/src/methods/types/get_blockchain_info.rs
  zebra-utils/zcash-rpc-diff
  zebrad/tests/acceptance.rs
Labels: A-rpc, C-feature, A-compatibility, P-Medium :zap:
